@use 'sass:math';

.Competence {
	$icon-size: 5rem;
	$spacing: 20px;

	position: relative;

	$center: translateY(-50%);
	&__name {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 21rem;

		// default align right
		transform: $center translateX(calc(#{math.div($icon-size, 2)} + #{$spacing}));
	}
	&__name--top {
		transform: $center translate(-50%, calc(#{math.div(-$icon-size, 2)} - #{$spacing}));
		text-align: center;
	}
	&__name--bottom {
		transform: $center translate(-50%, calc(#{math.div($icon-size, 2)} + #{$spacing}));
		text-align: center;
	}
	&__name--left {
		transform: $center translateX(calc(#{math.div(-$icon-size, 2)} - #{$spacing} - 100%));
		text-align: right;
	}

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;

		border-radius: 50%;
		border: 3px solid $color-accent;
		background-color: $color-accent-light;
		width: $icon-size;
		height: $icon-size;
		padding: 10px;

		img {
			color: $color-primary;
			width: 80%;
			height: 80%;
		}
	}
}
