.Competence {
	display: inline-block;

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include children-spacing(15px, right);
	}
	&__content--top {
		flex-direction: column-reverse;
		@include children-spacing(15px, top);
	}
	&__content--bottom {
		flex-direction: column;
		@include children-spacing(15px, bottom);
	}
	&__content--left {
		flex-direction: row-reverse;
		@include children-spacing(15px, left);
	}

	&__icon {
		$size: 5rem;
		$icon-size: 80%;

		display: flex;
		justify-content: center;
		align-items: center;

		border-radius: 50%;
		border: 3px solid #aaaaaa;
		width: $size;
		height: $size;
		padding: 10px;

		img {
			color: $color-primary;
			width: $icon-size;
			height: $icon-size;
		}
	}

	&__name {
		font-weight: 700;
	}
}
